<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>18/06/26 22:44:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ValidateNavigationBar.initializeBrowser()[pri:0, instance:QAAcademy.ValidateNavigationBar@69db50]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@26800903</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/06/26 22:45:09</td>   <td>13291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginpageTest.validateLogin(java.lang.String, java.lang.String)[pri:0, instance:QAAcademy.LoginpageTest@fbca5a]">validateLogin</td> 
  <td>main@26800903</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/06/26 22:45:32</td>   <td>35715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomepageTest.Homepagenavigation()[pri:0, instance:QAAcademy.HomepageTest@17cc17c]">Homepagenavigation</td> 
  <td>main@26800903</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/06/26 22:45:49</td>   <td>53474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateNavigationBar.ValidateNavBar()[pri:0, instance:QAAcademy.ValidateNavigationBar@69db50]">ValidateNavBar</td> 
  <td>main@26800903</td>   <td></td> </tr>
</table>
