<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>18/06/25 00:53:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginpageTest.initializeBrowser()[pri:0, instance:QAAcademy.LoginpageTest@c4039c]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27640734</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/06/25 00:53:18</td>   <td>11686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginpageTest.validateLogin(java.lang.String, java.lang.String)[pri:0, instance:QAAcademy.LoginpageTest@c4039c]">validateLogin</td> 
  <td>main@27640734</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/06/25 00:53:22</td>   <td>16104</td> <td>&nbsp;</td><td title="&lt;&lt;LoginpageTest.tearDown()[pri:0, instance:QAAcademy.LoginpageTest@c4039c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27640734</td>   <td></td> </tr>
</table>
